.kv-pair-mixin (@color; @opacity) {
	.kv-pair-wrapper {
		padding: 10px 0;
		.row {
			width: 100%;
			padding-right: 40px;
			position: relative;

			&:after {
				content: '';
				display: block;
				clear: both;
			}
			> div {
				float: left;

				&.key-wrapper {
					width: 45%;
					padding-right: 10px;
				}
				&.value-wrapper {
					width: 55%;
					padding-left: 10px;
				}
			}
			i.close-icon {
				position: absolute;
				top: 50%;
				right: 6px;
				margin-top: -7px;
				opacity: @opacity;

				&:hover {
					opacity: 1;
				}
				&:before, &:after {
					display: inline-block;
					content: '';
					width: 15px;
					border: solid @color;
					border-width: 0 0 2px;
				}
				&:before {
					-webkit-transform: rotate3d(0, 0, 1, 45deg) translate3d(5px,-5px,0);
					-moz-transform: rotate3d(0, 0, 1, 45deg) translate3d(5px,-5px,0);
					-ms-transform: rotate3d(0, 0, 1, 45deg) translate3d(5px,-5px,0);
					-o-transform: rotate3d(0, 0, 1, 45deg) translate3d(5px,-5px,0);
					transform: rotate3d(0, 0, 1, 45deg) translate3d(5px,-5px,0);
				}
				&:after {
					-webkit-transform: rotate3d(0, 0, -1, 45deg) translate3d(-6px,-6px,0);
					-moz-transform: rotate3d(0, 0, -1, 45deg) translate3d(-6px,-6px,0);
					-ms-transform: rotate3d(0, 0, -1, 45deg) translate3d(-6px,-6px,0);
					-o-transform: rotate3d(0, 0, -1, 45deg) translate3d(-6px,-6px,0);
					transform: rotate3d(0, 0, -1, 45deg) translate3d(-6px,-6px,0);
				}
			}
		}
	}
}
