$elevation-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2), 0 0 8px 0 rgba(0, 0, 0, 0.3), 0 0 10px 0 rgba(0, 0, 0, 0.2);
$elevation-shadow-hover: 0 0 5px 0 rgba(0, 0, 0, 0.3), 0 0 10px 0 rgba(0, 0, 0, 0.4), 0 0 10px 0 rgba(0, 0, 0, 0.2);

$radius: 4px;

$dark-theme-text-color: #fff;
$primary-color: #26d;
$primary-color-ripple: rgba(255, 255, 255, 0.1);